version: '3'

services:
  traefik:
    image: traefik:v2.4
    command: >
      --providers.docker
      --entrypoints.web.address=:80
      --entrypoints.websecure.address=:443
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --certificatesresolvers.myresolver.acme.email=fitiavana.ramanandafy@gmail.com
      --certificatesresolvers.myresolver.acme.storage=acme.json
      --certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web
    ports:
      - 443:443
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../acme.json:/acme.json

  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    labels:
      - traefik.http.routers.graphqlapi-router.rule=Host(`slack-clone-graphql.fitiavana.icu`)
      - traefik.http.routers.graphqlapi-router.tls=true
      - traefik.http.routers.graphqlapi-router.tls.certresolver=myresolver
    environment:
      MONGODB_URI: mongodb://mongo:27017/slack-clone
      REDIS_HOST: redis

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    labels:
      - traefik.http.routers.graphqlapi-router.rule=Host(`slack-clone.fitiavana.icu`)
      - traefik.http.routers.graphqlapi-router.tls=true
      - traefik.http.routers.graphqlapi-router.tls.certresolver=myresolver
    environment:
      REACT_APP_GRAPHQL_URL: https://slack-clone-graphql.fitiavana.icu/graphql
      REACT_APP_SUBSCRIPTION_URL: wss://slack-clone-graphql.fitiavana.icu/graphql
      REACT_APP_DOMAIN_NAME: fitiavana.icu
      REACT_APP_CLIENT_DOMAIN: slack-clone.fitiavana.icu

  mongo:
    image: mongo:5.0
    labels:
      - traefik.enable=false
    volumes:
      - ./mongo-data:/data/db

  redis:
    image: redis:6.0-alpine
    labels:
      - traefik.enable=false
